@model Glorpa.Models.Korisnik

<h1>Delete</h1>

<h3>Are you sure?</h3>

<div>
    <p>@Model.Ime @Model.Prezime</p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>